In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("DashboardACC.xlsx")

In [15]:
df['Delta'] = abs(df['Team_Points'] - df['Mean Prediction'])

In [19]:
df['Delta'].mean()

9.355821125674634

In [28]:
df

,Unnamed: 0,Date,Team,Team_Points,Mean Prediction,1 - Under,2 - Under,3 - Under,4 - Under,5 - Under,...,(Under) 2 - Over,(Under) 3 - Over,(Under) 4 - Over,(Under) 5 - Over,(Under) 6 - Over,(Under) 7 - Over,(Under) 8 - Over,(Under) 9 - Over,(Under) 10 - Over,Delta
0,0,2017-11-10,north-carolina,86,78,77,76,75,74,73,...,0,0,0,0,0,0,1,1,1,8
1,1,2017-11-15,north-carolina,93,82,81,80,79,78,77,...,0,0,0,0,0,0,0,0,0,11
2,2,2017-11-20,north-carolina,96,82,81,80,79,78,77,...,0,0,0,0,0,0,0,0,0,14
3,3,2017-11-23,north-carolina,102,83,82,81,80,79,78,...,0,0,0,0,0,0,0,0,0,19
4,4,2017-11-24,north-carolina,87,85,84,83,82,81,80,...,1,1,1,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5183,5183,2024-03-06,northwestern,49,73,72,71,70,69,68,...,1,1,1,1,1,1,1,1,1,24
5184,5184,2024-03-09,northwestern,90,70,69,68,67,66,65,...,0,0,0,0,0,0,0,0,0,20
5185,5185,2024-03-15,northwestern,61,71,70,69,68,67,66,...,1,1,1,1,1,1,1,1,1,10
5186,5186,2024-03-22,northwestern,77,71,70,69,68,67,66,...,0,0,0,0,1,1,1,1,1,6
5187,5187,2024-03-24,northwestern,58,70,69,68,67,66,65,...,1,1,1,1,1,1,1,1,1,12